
@{
    ViewBag.Title = "retiro";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>
<html>
<head>
    <title>ViewBag.Title</title>
</head>
<body>
    <h3>Puede retirar su dinero</h3>
</body>
</html>
